<div class="relative">
    <div class="inner-flex inner-flex-medium">
        <div class="section-title">
            <h2 *ngIf="!is_edit"> Add Category </h2>
            <h2 *ngIf="is_edit"> Update Category </h2>
        </div>
        <div class="AddWrapper ">
            <div class="container-fluid white-bg border-radius">
                <form name="addCategoryForm" id="addCategoryForm" (ngSubmit)="addCategory(addCategoryForm.form)"
                    #addCategoryForm="ngForm" novalidate class="inner-flex inner-flex-medium">
                    <div class="inner-flex inner-flex-medium ">
                        <div class="section-paragraph">
                            <p class="semibold-fonts">Basic Category Details</p>
                        </div>
                        <div class="three-col-grid ">
                            <div>
                                <label for="name" class="form-title-label semibold-fonts"> Category Name
                                    <span class="star">*</span>
                                </label>
                                <div class="formInput relative">
                                    <div class="form-input-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            home
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Enter Category Name" [ngClass]="{
                                        'error': addCategoryForm.submitted && categoryDetailObj.category == '' }"
                                        [(ngModel)]="categoryDetailObj.category" #name="ngModel" id="category"
                                        name="category" required>
                                </div>
                            </div>

                            <div>
                                <label for="parent_id" class="form-title-label semibold-fonts"> Parent Category
                                    <!-- <span class="star">*</span> -->
                                </label>
                                <div class="formInput relative">
                                    <div class="form-input-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            category
                                        </span>
                                    </div>
                                    <select [(ngModel)]="categoryDetailObj.parent_id" class="form-control"
                                        name="parent_id" id="parent_id" placeholder="Parent Category">
                                        <option value="" selected> Parent Category </option>



                                        <ng-container *ngFor="let category of categoryList">
                                            <option [value]="category.id" >
                                                {{category.category}}</option>
                                            <ng-container *ngIf="category.child_categories && category.child_categories.length > 0">
                                                <ng-container *ngFor="let subCategory of category.child_categories">
                                                    <option [value]="subCategory.id">&nbsp;&nbsp;&nbsp;&nbsp;- {{subCategory.category}}</option>

                                                    <!-- <ng-container *ngIf="subCategory.child_categories && subCategory.child_categories.length > 0">
                                                        <ng-container *ngFor="let subCategory1 of subCategory.child_categories">
                                                            <option [value]="subCategory1.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                               - {{subCategory1.category}}</option>
                                                        </ng-container>
                                                    </ng-container> -->
                                                </ng-container>
                                            </ng-container>

                                        </ng-container>
                                    </select>
                                    <!-- <select class="form-control" [(ngModel)]="categoryDetailObj.parent_id"
                                        id="parent_id" name="parent_id" tabindex="2">
                                        <option value="" selected> Parent Category </option>
                                        <option *ngFor="let category of categoryList" [value]="category.id">
                                            {{category.category}}</option>
                                            <ng-container >
                                                <option *ngFor="let subCategory of parentCategoryList" [value]="subCategory.parent_id">
                                                  - -{{subCategory.category}}</option>
                                            </ng-container>
                                    </select> -->


                                </div>
                            </div>


                            <div class="">
                                <div>
                                    <label for="location" class="form-title-label semibold-fonts">
                                        Sort order
                                    </label>
                                    <div class="formInput relative">
                                        <div class="form-input-icon form-input-icon-left">
                                            <span class="material-symbols-outlined">
                                                groups
                                            </span>
                                        </div>
                                        <input class="form-control" type="text" placeholder="Enter Sort order  "
                                            [(ngModel)]="categoryDetailObj.sort_order" #team="ngModel" id="sort_order"
                                            name="sort_order">
                                    </div>
                                </div>

                            </div>


                            <div class="">
                                <label for="icon" class="form-title-label semibold-fonts"> Icon </label>
                                <div class="formInput ImagePreviewBox relative">
                                    <div class="form-input-icon image-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            image
                                        </span>
                                    </div>

                                    <input class="form-control" type="file" (change)="onCoverIconChange($event)"
                                        [ngClass]="{
                                        'error': addCategoryForm.submitted &&    categoryDetailObj.icon != ''
                                      }" id="icon" name="icon" accept="image/png, image/jpeg">
                                    <div class="previewWrapper">
                                        <p *ngIf="categoryDetailObj.icon == '' " style='color : #00000050;'>
                                            Upload Cover Icon
                                        </p>
                                        <div *ngIf="categoryDetailObj.icon != '' ">
                                            <div *ngIf="coverIcon">
                                                <img [src]="coverIcon" alt="">
                                            </div>
                                            <div *ngIf="!coverIcon">
                                                <img [src]="this.categoryDetailObj.icon" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="remove-class" *ngIf="this.categoryDetailObj.icon !== ''"
                                        (click)="removeCoverIcon();">
                                        Remove Icon
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <label for="image" class="form-title-label semibold-fonts"> Image </label>
                                <div class="formInput ImagePreviewBox relative">
                                    <div class="form-input-icon image-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            image
                                        </span>
                                    </div>
                                    <input class="form-control" type="file" (change)="onCoverImageChange($event)"
                                        [ngClass]="{
                                        'error': addCategoryForm.submitted &&   categoryDetailObj.image != ''
                                      }" id="image" name="image" accept="image/png, image/jpeg">
                                    <div class="previewWrapper">
                                        <p *ngIf="categoryDetailObj.image == '' " style='color : #00000050;'>
                                            Upload Image
                                        </p>
                                        <div *ngIf="categoryDetailObj.image != '' ">
                                            <div *ngIf="coverImage">
                                                <img [src]="coverImage" alt="">
                                            </div>
                                            <div *ngIf="!coverImage">
                                                <img [src]="this.categoryDetailObj.image" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="remove-class" *ngIf="this.categoryDetailObj.image !== ''"
                                        (click)="removeCoverImage();">
                                        Remove Image
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                       

                        <div class="">
                            <div class="section-paragraph">
                                <p class="semibold-fonts">Category SEO Details</p>
                            </div>
                        </div>

                        <div class="three-col-grid">
                            <div>
                                <label for="page_title" class="form-title-label semibold-fonts"> SEO Title

                                </label>
                                <div class="formInput relative">
                                    <div class="form-input-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            language
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Enter SEO Titile "
                                        [(ngModel)]="categoryDetailObj.page_title" #page_title="ngModel" id="page_title"
                                        name="page_title">
                                </div>
                            </div>

                            <div>
                                <label for="meta_description" class="form-title-label semibold-fonts"> SEO Description

                                </label>
                                <div class="formInput relative">
                                    <div class="form-input-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            menu_book
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Enter SEO Description"
                                        [(ngModel)]="categoryDetailObj.meta_description" #meta_description="ngModel"
                                        id="meta_description" name="meta_description">
                                </div>
                            </div>
                            <div>
                                <label for="meta_keywords" class="form-title-label semibold-fonts"> SEO Keywords

                                </label>
                                <div class="formInput relative">
                                    <div class="form-input-icon form-input-icon-left">
                                        <span class="material-symbols-outlined">
                                            abc
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Enter SEO Keywords"
                                        [(ngModel)]="categoryDetailObj.meta_keywords" #meta_keywords="ngModel"
                                        id="meta_keywords" name="meta_keywords">
                                </div>
                            </div>
                        </div>
                        <div class="three-col-grid">
                            <button type="submit" class="sangath-template-button w100" style="margin-top : 1rem;">
                                <span class="material-symbols-outlined">
                                    save
                                </span>
                                {{isprojectSave ? "Please Wait..." : "Save Category" }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>