<div class="relative">

    <div class="inner-flex inner-flex-medium">
        <div class="section-title">
            <h2> Inquires ({{dataObj.total}}) </h2>
        </div>
        <div class="listWrapper">
            <div class="container-fluid white-bg border-radius">
                <div class='flex-row alc j-c-sb mb1'>
                    <div class='flex-row alc'>
                        <div class="formInput relative">
                            <div class="form-input-icon form-input-icon-left">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Search"
                                (input)="searchList(dataObj.search)" [(ngModel)]="dataObj.search" #search="ngModel"
                                id="search" name="search" tabindex="1">
                        </div>
                        <div class="formInput relative">
                            <div class="form-input-icon form-input-icon-left">
                                <span class="material-symbols-outlined">
                                    category
                                </span>
                            </div>
                            <select class="form-control" [(ngModel)]="dataObj.status" (ngModelChange)="filter()"
                                id="status`" name="status" tabindex="2">
                                <option value="" selected> Filter By Status </option>
                                <option value="Open">Open</option>
                                <option value="Closed">Closed</option>
                            </select>


                        </div>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <button class="sangath-template-button" (click)="exportAsXLSX()">
                                <span class="material-symbols-outlined">
                                    upgrade
                                </span>
                                Export
                            </button>
                        </a>
                    </div>
                   
                    <!-- <div>
                        <a routerLink="/inquiry/add">
                            <button class="sangath-template-button ">
                                <span class="material-symbols-outlined">
                                    add
                                </span>
                                Add inquiry
                            </button>
                        </a>
                    </div> -->
                </div>
                <div class="listTable section-content">
                    <table class="w100">
                        <thead>
                            <tr>
                                <th>
                                    <p class="semibold-fonts">
                                        #
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Name
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Type
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Contact Details
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Address
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Comments
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Remarks
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Status
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts text-right">
                                        Action
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="InquiryList.length > 0">

                            <tr *ngFor="let inquiry of InquiryList; let i = index">
                                <td>
                                    <p class="">
                                        {{ i + 1 + (dataObj.page - 1 ) * dataObj.limit }}
                                    </p>
                                </td>

                                <td>
                                    <p class="">
                                        {{inquiry.name}}
                                    </p>
                                </td>
                                <td>
                                    <p class="">
                                        {{inquiry.type}}
                                    </p>
                                </td>
                                <td>
                                    <p class="">
                                        <a href="tel:{{inquiry.contact_no}}">
                                            {{inquiry.contact_no}}
                                        </a>
                                        <br>
                                        <a href="mailto:{{inquiry.email}}">
                                            {{inquiry.email}}
                                        </a>


                                    </p>
                                </td>

                                <td>
                                    <p class="">
                                        {{inquiry.address}}
                                    </p>
                                </td>
                                <td>
                                    <p class="">
                                        {{inquiry.message}}
                                    </p>
                                </td>
                                <td>
                                    <p class="">
                                        {{inquiry.remark}}
                                    </p>
                                </td>
                                <td class="link-font-size">
                                    <p class="" *ngIf="inquiry.status == 'Open'" style="color : green">
                                        {{inquiry.status}}
                                    </p>
                                    <p class="" *ngIf="inquiry.status != 'Open'" style="color : Red">
                                        {{inquiry.status}}
                                    </p>
                                </td>
                                <td class="">
                                    <div class="actionFlex flex-row alc j-c-end">
                                        <div *ngIf="inquiry.product_inquiries != ''">
                                            <a (click)="editPopup(inquiry);">
                                                <span class="material-symbols-outlined relative  toggle_on_sec">
                                                    visibility
                                                    <div class="hover-title-text link-font-size "    >
                                                        <p>view</p>
                                                    </div>
                                                </span>
                                            </a>
                                        </div>
                                      
                                            <span class="material-symbols-outlined  relative  toggle_on_sec"
                                                (click)="openRemarkPopup(inquiry.id,inquiry.status)"
                                                *ngIf="inquiry.status == 'Open'" style="color : green;">
                                                toggle_on
                                                <div class="hover-title-text link-font-size "   *ngIf="inquiry.status == 'Open'" >
                                                    <p>Open</p>
                                                </div>
                                            </span>
                                            
                                       
                                        
                                            <span class="material-symbols-outlined relative toggle_on_sec"
                                                (click)="openRemarkPopup(inquiry.id,inquiry.status)"
                                                *ngIf="inquiry.status != 'Open'" style="color : red;">
                                                toggle_off
                                                <div class="hover-title-text link-font-size "   *ngIf="inquiry.status != 'Open'" >
                                                    <p>Close</p>
                                                </div>
                                            </span>
                                            
                                        
                                        <!-- <span class="material-symbols-outlined" style="color : red;"
                                            (click)="deleteinquiry(inquiry)">
                                            delete
                                        </span> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-center semibold-fonts" style="margin-top : 1rem" *ngIf="InquiryList.length <= 0">
                        No inquiry Found !!!
                    </p>

                </div>
                <ng-container *ngIf="InquiryList && InquiryList.length > 0">
                    <ul *ngIf="usersPager.pages && usersPager.pages.length > 1" class="pagination"
                        style="margin-top: 2rem">
                        <ng-container *ngIf="usersPager.currentPage > 1">
                            <li class="page-item pgbtn prev">
                                <a class="page-link prev-button"
                                    (click)="setUsersPage(usersPager.currentPage - 1, 1)"><span style="font-size:16px"
                                        class="material-symbols-outlined">
                                        arrow_back_ios</span></a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.startPage != 1">
                            <li class="page-item first">
                                <a class="page-link" (click)="setUsersPage(1, 1)">1</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.startPage != 1">
                            <li class="dots">
                                <a class="page-link">...</a>
                            </li>
                        </ng-container>
                        <li class="page-item" *ngFor="let page of usersPager.pages"
                            [ngClass]="{ active: usersPager.currentPage === page }">
                            <a class="page-link" (click)="setUsersPage(page, 1)">{{
                                page
                                }}</a>
                        </li>
                        <ng-container *ngIf="usersPager.endPage != usersPager.totalPages">
                            <li class="dots">
                                <a class="page-link">...</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.endPage != usersPager.totalPages">
                            <li class="page-item last">
                                <a class="page-link" (click)="setUsersPage(usersPager.totalPages, 1)">{{
                                    usersPager.totalPages }}</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.currentPage < usersPager.totalPages">
                            <li class="page-item pgbtn next">
                                <a class="page-link next-button"
                                    (click)="setUsersPage(usersPager.currentPage + 1, 1)"><span
                                        class="material-symbols-outlined">
                                        navigate_next</span></a>
                            </li>
                        </ng-container>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="PopupOverlay" [class.active]="isRemarkPopup" (click)="closeRemarkPopup()"></div>
<div class="deletePopup" [class.active]="isRemarkPopup">

    <div class="inner-flex alc">
        <div class="inner-flex inner-flex-smallest" style="width: 100%;">
            <div class="section-subtitle">
                <h4 class="semibold-fonts">Enter Remark</h4>
            </div>
            <div class="section-content" style="width: 100%;">
                <textarea [(ngModel)]="statusObj.remark" rows="4" class="form-control no-padding"></textarea>
            </div>
        </div>
        <div class="flex-row alc remarkButtonFlex w100 j-c-c" style="margin-top: 1rem">
            <button class="sangath-template-button" (click)="closeRemarkPopup()">
                <span class="material-symbols-outlined">
                    close
                </span>
                Cancel
            </button>
            <button class="sangath-template-button sangath-template-button-red" (click)="changeStatus()">
                <span class="material-symbols-outlined">
                    save
                </span>
                Submit
            </button>
        </div>
    </div>
</div>




<div class="popup-overlay" [class.popup-overlay-active]="editlist" (click)="closeEditlist()"></div>
<div class="inquire-popup-wrapper" [class.inquiry-popup-wrapper-active]="editlist">
    <div class="inner-flex inner-flex-medium">
        <div class="add-flex-sec">
            <div class="section-title">
                <h2>Product Inquiry</h2>
            </div>

            <div class="close-icon" (click)="closeEditlist()">
                <span _ngcontent-uuw-c3="" class="material-symbols-outlined"> close </span>
            </div>
        </div>

        <div class="inner-flex ">
            <div class="listTable section-content">
                <table class="w100" class=" product-inquires-sec">
                    <thead>
                        <tr>

                            <th>
                                <p class="semibold-fonts text-center">#</p>
                            </th>
                            <th style="width: 12rem;" class="text-center">
                                <p class="semibold-fonts">
                                    Product name
                                </p>
                            </th>
                            <th style="width: 6rem;" class="text-center">
                                <p class="semibold-fonts">
                                    Quantity
                                </p>
                            </th>
                            <th>
                                <p class="semibold-fonts text-right">
                                    Created at
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of producInquiryList; let i = index">
                            <td>
                                <p class="">{{i + 1}}</p>
                            </td>
                            <td>
                                <p class="text-center">{{product.product_name}}</p>
                            </td>
                            <td>
                                <p class="text-center">{{product.quantity}}</p>
                            </td>
                            <td>
                                <p>{{product.created_at }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>