<div class="relative">

    <div class="inner-flex inner-flex-medium">
        <div class="section-title">
            <h2> Team ({{dataObj.total}}) </h2>
        </div>
        <div class="listWrapper">
            <div class="container-fluid white-bg border-radius">
                <div class='flex-row alc j-c-sb mb1'>
                    <div class='flex-row alc'>
                        <div class="formInput relative">
                            <div class="form-input-icon form-input-icon-left">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Search"
                                (input)="searchList(dataObj.search)" [(ngModel)]="dataObj.search" #search="ngModel"
                                id="search" name="search" tabindex="1">
                        </div>
                    </div>
                    <div>
                        <a routerLink="/manage_team/add">
                            <button class="sangath-template-button ">
                                <span class="material-symbols-outlined">
                                    add
                                </span>
                                Add Team
                            </button>
                        </a>
                    </div>
                </div>
                <div class="listTable section-content">
                    <table class="w100">
                        <thead>
                            <tr>
                                <th>
                                    <p class="semibold-fonts">
                                        #
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Image
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Name
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Designation
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts">
                                        Status
                                    </p>
                                </th>
                                <th>
                                    <p class="semibold-fonts text-right">
                                        Action
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="teamList.length > 0">

                            <tr *ngFor="let team of teamList; let i = index">
                                <td>
                                    <p class="">
                                        {{ i + 1 + (dataObj.page - 1 ) * dataObj.limit }}
                                    </p>
                                </td>
                                <td>
                                    <img class="team-img" src="{{team.image}}">
                                </td>
                                <td>
                                    <p class="">
                                        {{team.name}}
                                    </p>
                                </td>
                                <td>
                                    <p class="">
                                        {{team.designation}}
                                    </p>
                                </td>
                                <td class="link-font-size">
                                    <p class="" *ngIf="team.is_active == '1'" style="color : green">
                                        Active
                                    </p>
                                    <p class="" *ngIf="team.is_active != '1'" style="color : Red">
                                        Inactive
                                    </p>
                                </td>
                                <td class="">
                                    <div class="actionFlex flex-row alc j-c-end">
                                        <a routerLink="/manage_team/update/{{team.id}}">
                                            <span class="material-symbols-outlined">
                                                edit
                                            </span>
                                        </a>
                                        <span class="material-symbols-outlined" (click)="changeStatus(team.id)"
                                            *ngIf="team.is_active == '1'" style="color : green;">
                                            toggle_on
                                        </span>
                                        <span class="material-symbols-outlined" (click)="changeStatus(team.id)"
                                            *ngIf="team.is_active != '1'" style="color : red;">
                                            toggle_off
                                        </span>
                                        <span class="material-symbols-outlined" style="color : red;"
                                            (click)="deleteTeam(team)">
                                            delete
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-center semibold-fonts" style="margin-top : 1rem" *ngIf="teamList.length <= 0">
                        No Team Found !!!
                    </p>

                </div>
                <ng-container *ngIf="teamList && teamList.length > 0">
                    <ul *ngIf="usersPager.pages && usersPager.pages.length > 1" class="pagination"
                        style="margin-top: 2rem">
                        <ng-container *ngIf="usersPager.currentPage > 1">
                            <li class="page-item pgbtn prev">
                                <a class="page-link prev-button" (click)="setUsersPage(usersPager.currentPage - 1, 1)"><span style="font-size:16px"
                                        class="material-symbols-outlined">
                                        arrow_back_ios</span></a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.startPage != 1">
                            <li class="page-item first">
                                <a class="page-link" (click)="setUsersPage(1, 1)">1</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.startPage != 1">
                            <li class="dots">
                                <a class="page-link">...</a>
                            </li>
                        </ng-container>
                        <li class="page-item" *ngFor="let page of usersPager.pages"
                            [ngClass]="{ active: usersPager.currentPage === page }">
                            <a class="page-link" (click)="setUsersPage(page, 1)">{{
                                page
                                }}</a>
                        </li>
                        <ng-container *ngIf="usersPager.endPage != usersPager.totalPages">
                            <li class="dots">
                                <a class="page-link">...</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.endPage != usersPager.totalPages">
                            <li class="page-item last">
                                <a class="page-link" (click)="setUsersPage(usersPager.totalPages, 1)">{{
                                    usersPager.totalPages }}</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="usersPager.currentPage < usersPager.totalPages">
                            <li class="page-item pgbtn next">
                                <a class="page-link next-button" (click)="setUsersPage(usersPager.currentPage + 1, 1)"><span
                                        class="material-symbols-outlined">
                                        navigate_next</span></a>
                            </li>
                        </ng-container>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="PopupOverlay" [class.active]="isDeletePopup" (click)="deleteTeamClose()"></div>
    <div class="deletePopup" [class.active]="isDeletePopup">
        <div class="inner-flex alc">
            <div class="errorIcon">
                <span class="material-symbols-outlined">
                    error
                </span>
            </div>

            <div class="inner-flex inner-flex-smallest alc">
                <div class="section-subtitle">
                    <h4 class="semibold-fonts"> Are You Sure ? </h4>
                </div>
                <div class="section-content">
                    <p> You Want To Delete <span class='semibold-fonts'> {{deleteObj.name}} </span> </p>
                </div>
            </div>
            <div class="flex-row alc deltedButtonFlex w100 j-c-c " style="margin-top : 1rem">
                <button class="sangath-template-button " (click)='deleteTeamClose()'>
                    <span class="material-symbols-outlined">
                        close
                    </span>
                    Cancel
                </button>
                <button class="sangath-template-button  sangath-template-button-red "
                    (click)='confirmDelete(deleteObj.id)'>

                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    Delete

                </button>
            </div>
        </div>
    </div>