
<div class="loginComponent">
    <div class="loginContainer">
        <div class="loginWrapper">
            <div class="loginwrapper inner-flex inner-flex-medium">


                <div class="relative">
                    <div class="inner-flex inner-flex-medium">
                       
                        <div class="section-title">
                            <h2 class="secondary-color"> Change Password </h2>
                        </div>
                        <div class="ChangePasswordWrapper">
                            <div class="container-fluid white-bg border-radius">
                                <form name="changePasswordForm" id="changePasswordForm"
                                    (ngSubmit)="changePassword(changePasswordForm.form)" #changePasswordForm="ngForm" novalidate
                                    class="inner-flex inner-flex-medium">
                                    <div class="inner-flex">
                                        <div>
                                            <label for="password" class="form-title-label semibold-fonts"> Current Password
                                                <span class="star">*</span>
                                            </label>
                                            <div class="formInput relative">
                                                <div class="form-input-icon form-input-icon-left">
                                                    <span class="material-symbols-outlined">
                                                        key
                                                    </span>
                                                </div>
                                                <input class="form-control" [ngClass]="{
                                                    'error': changePasswordForm.submitted && password.invalid
                                                }" type="password" placeholder="Enter Current Password "
                                                    [(ngModel)]="changePasswordObj.password" #password="ngModel" id="password"
                                                    name="password" required>
                                                <div class="form-input-icon form-input-icon-right showPassword"
                                                    (click)="showPassword('password');">
                                                    <span class="material-symbols-outlined visible">
                                                        visibility
                                                    </span>
                                                    <span class="material-symbols-outlined hide">
                                                        visibility_off
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="new_password" class="form-title-label semibold-fonts"> New Password
                                                <span class="star">*</span>
                                            </label>
                                            <div class="formInput relative">
                                                <div class="form-input-icon form-input-icon-left">
                                                    <span class="material-symbols-outlined">
                                                        password
                                                    </span>
                                                </div>
                                                <input class="form-control" type="password" placeholder="Enter New Password"
                                                    [(ngModel)]="changePasswordObj.new_password" [ngClass]="{
                                                        'error': changePasswordForm.submitted && new_password.invalid
                                                    }" #new_password="ngModel" id="new_password" name="new_password" required>
                                                <div class="form-input-icon form-input-icon-right showPassword"
                                                    (click)="showPassword('new_password');">
                                                    <span class="material-symbols-outlined visible">
                                                        visibility
                                                    </span>
                                                    <span class="material-symbols-outlined hide">
                                                        visibility_off
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="confirm_password" class="form-title-label semibold-fonts"> Confirm Password
                                                <span class="star">*</span>
                                            </label>
                                            <div class="formInput relative">
                                                <div class="form-input-icon form-input-icon-left">
                                                    <span class="material-symbols-outlined">
                                                        password
                                                    </span>
                                                </div>
                                                <input class="form-control" [ngClass]="{
                                                    'error': changePasswordForm.submitted && confirm_password.invalid
                                                }" type="text" placeholder="Enter confirm_password"
                                                    [(ngModel)]="changePasswordObj.confirm_password" #confirm_password="ngModel"
                                                    id="confirm_password" name="confirm_password" required>
                                                <div class="form-input-icon form-input-icon-right showPassword"
                                                    (click)="showPassword('confirm_password');">
                                                    <span class="material-symbols-outlined visible">
                                                        visibility
                                                    </span>
                                                    <span class="material-symbols-outlined hide">
                                                        visibility_off
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="sangath-template-button w100" style="margin-top : 1rem;">
                                        <span class="material-symbols-outlined">
                                            save
                                        </span>
                                        {{isAdminLogin ? "Please Wait..." : "Change Password" }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>